.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 241, 241);

  /* height: 100vh; */
  overflow: hidden;
  box-sizing: border-box;
}

.chatContainer {
  display: flex;
  flex: 1;
  background-color: #f2f4f7;
  margin-top: 1px;
  box-sizing: border-box;
  min-height: 100vh;
}

.listChat {
  width: 20%;
  background: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.headerListChat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.filterListChat {
  display: flex;
  align-items: center;
  background: #f0f2f5;
  padding: 12px;
  border-radius: 16px;
  margin: 10px 0;
}

.containerBtnList {
  display: flex;
  justify-content: space-between;
}

.btnFilter {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  color: #2d2d2e;
  cursor: pointer;
  font-size: 16px;
}

.btnFilter:hover {
  color: #0064d1;
  background-color: #ebf5ff;
  border-radius: 15px;
}

.mainListChat {
  flex-grow: 1;
  overflow-y: auto;
}

.lstCon {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #252728;
  cursor: pointer;
}

.lstCon:hover {
  background: #ebf5ff;
  background: #f2f2f2;
  border-radius: 20px;
}

.conversation {
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
}

.userName {
  height: 30%;
  font-size: 16px;
  margin: 0;
}

.messageContainer {
  color: #727272;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* background: red; */
  /* width: 360px; */
  /* Không set height, để tự động theo nội dung */
  line-height: 1; /* hoặc line-height: normal; */
  padding: 0; /* bỏ padding nếu có */
  margin: 0; /* tránh margin gây phồng */
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatBox {
  padding: 10px;
  margin: 12px;
  border-radius: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff;

  box-sizing: border-box;
}

.chatBoxHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  background: none;
  border: none;
}
.chatBoxHeader:hover {
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
}

.userInfoChatBoxHeader {
  margin-left: 8px;
  text-align: left;
}

.chatBoxContent {
  display: flex;
  flex-direction: column;
  padding: 10px;

  overflow: auto;
  height: 70vh;
  box-sizing: border-box;
}

.chatBoxFooter {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ffffff;

  height: 60px;
  flex-shrink: 0;
}

.inputSearch {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: #f0f2f5;
  border-radius: 16px;
}

.btnSendMessage {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(71, 92, 255);
  font-size: 18px;
}

.myMessage {
  text-align: right;
  background: #0084ff;
  color: #f8f8f8;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-end;

  width: fit-content;
}

.otherMessage {
  text-align: left;
  background: #d5acff;
  color: #000000;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-start;

  width: fit-content;
}

.btnTypeMessage {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}

.chatInformation {
  padding: 10px;
  margin: 12px 12px 12px 0;
  border-radius: 12px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
}
.btnContainerChatInformation {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}
.containerBtnInfo {
  justify-self: center;
  align-items: center;
  text-align: center;
}
.btnChatInfo {
  border-radius: 40px;
  font-size: 24px;
  background: #e2e5e9;
  border: none;
  padding: 12px;
}
