.chatContainer {
  display: flex;
  height: 100vh;
  background-color: #252728;
}

.listChat {
  width: 25%;
  background: #252728;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.headerListChat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.filterListChat {
  display: flex;
  align-items: center;
  background: #333334;
  padding: 8px;
  border-radius: 16px;
  margin: 10px 0;
}

.containerBtnList {
  display: flex;
  justify-content: space-between;
}

.btnFilter {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btnFilter:hover {
  background-color: #333334;
  border-radius: 15px;
}

.btnFilter:active {
  background-color: #61a0ff;
  border-radius: 15px;
}

.mainListChat {
  flex-grow: 1;
  overflow-y: auto;
}

.lstCon {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #252728;
  cursor: pointer;
}

.lstCon:hover {
  background: rgb(25, 51, 139);
  border-radius: 20px;
}

.conversation {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}

.userName {
  margin: 0;
}

.messageContainer {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin: 0;
  line-height: 14px;
  justify-content: space-evenly;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #2c3e50;
  color: white;
}

.chatBoxHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background: #34495e;
}

.chatBoxContent {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatBoxFooter {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #34495e;
}

.inputSearch {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: #333334;
  border-radius: 16px;
}

.btnSendMessage {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.myMessage {
  text-align: right;
  background: #3498db;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-end;
}

.otherMessage {
  text-align: left;
  background: #7f8c8d;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-start;
}
